.meters {
  height: 550px;
  display: block;
  overflow-y: scroll;
  & thead {
    position: sticky;
    top: 0;
    background-color: var(--color-darkGrey);
    & tr {
      background-color: var(--color-darkGrey);
    }
    & th {
      padding: 8px 12px;
      font-size: 1.3rem;
      text-align: start;
      color: #697180;
    }
  }
  & tbody {
    & tr {
      cursor: pointer;
      &:hover {
        background-color: var(--color-ligth-darkGrey);
      }
    }
    & td {
      border-bottom: 1px solid #e0e5eb;

      padding: 6px 12px;

      font-size: 1.4rem;
    }
    & td:first-child {
      text-align: center;
    }
    & td:nth-child(2) span {
      display: flex;

      align-items: center;
      column-gap: 1rem;
    }
    & td:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__number {
    width: 4.8rem;
    & span {
      display: block;
      text-align: center;
    }
  }
  &__type {
    width: 12rem;
  }
  &__date {
    width: 16rem;
  }
  &__is_automatic {
    width: 12.8rem;
  }
  &__current_data {
    width: 14.8rem;
  }
  &__adress {
    width: 43rem;
  }
  &__notuce {
    width: 37.6rem;
  }
  &__pagination {
    display: flex;
    column-gap: 0.8rem;
    justify-content: end;
    list-style: none;
    & li {
      cursor: pointer;
      border: 1px solid #ced5de;
      border-radius: 6px;
      padding: 8px 12px;
      width: 32px;
      height: 32px;
      &.active__page {
        cursor: none;
        background: #f2f5f8;
      }
    }
  }
}

.wrapper__pagination {
  display: flex;
  justify-content: end;
  padding: 8px 16px;
  &__block {
    display: flex;
    column-gap: 0.8rem;
    justify-content: end;
    list-style: none;
    & li {
      cursor: pointer;
      border: 1px solid #ced5de;
      border-radius: 6px;
      padding: 8px 12px;
      width: 32px;
      height: 32px;
      &.active__page {
        cursor: none;
        background: #f2f5f8;
      }
    }
  }
}

.hide {
  opacity: 0;
}
