@import './normalize.scss';
@import './variables.scss';
@import './fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-style: normal;
}

html,
body {
  margin: 0;
}

p,
a {
  font-size: 1.6rem;
}
h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 500;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#root {
  width: clamp(320px, 100vw, 100vw);
  display: grid;
  place-content: center;
  min-height: 100vh;
}
