:root {
  //Variables

  --color-light: #ffffff;
  --color-light-hover: #e2e6ea;

  --color-darkGrey: #f0f3f7;
  --color-ligth-darkGrey: #f7f8f9;

  //Global Color Settings
  color-scheme: light;
  color: rgba(10, 10, 10, 0.87);
  background-color: var(--color-light);
  //Font
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
